
.benefits {
    padding-bottom: 111px;
}
 

.benefits__heading {
    text-align: center ;
    padding-bottom: 60px;
}



.benefits__row {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}