.card-testimonial {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    max-width: 350px;
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.04);

    transition: box-shadow 0.2s ease-in;

    &:hover {
        box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.09);
    }
}

.card-testimonial__wrapper {
    position: relative;
}

.card-testimonial__btn-play {
    position: absolute;
    right: 20px;
    bottom: 30px;
    transform: translateY(50%);
    opacity: 0;
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;

    .card-testimonial:hover & {
        transform: translateY(0%);
        opacity: 1;
    }
}

.card-testimonial__svg {

    circle {
        fill: #fff;
        transition: fill 0.2s ease-in;
    }

    path {
        fill: #f78434;
        transition: fill 0.2s ease-in;
    }

    &:hover {

        circle {
            fill: #f78434;
        }

        path {
            fill: #fff;
        }

    }
}



.card-testimonial__body {
    padding: 30px;
}

.card-testimonial__review {
    margin-bottom: 23px;
}

.card-testimonial__name {
    font-size: 18px;
    font-weight: 700;
}

.card-testimonial__city {
    color: #58BEBF;
    transition: color 0.3s ease-in;

    .card-testimonial:hover & {
        color: #f78434;
    }
}